<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar:</label>
                <input class="form-control" type="text" name="buscar" placeholder="Buscar Peli" [(ngModel)]="buscar" (keyup.enter)="buscarPelicula()">
            </div>
        </div>
    </div>
    <div class="row animated fadeIn">
        <div class="card-columns">
            <div class="card" *ngFor="let pelicula of peliService.peliculas">
                <img class="card-img-top" [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title">
                <div class="card-body">
                    <h5 class="card-title">{{pelicula.original_title}}</h5>
                    <p class="card-text text-justify">{{pelicula.overview | slice: 0:250}}...</p>
                    <button [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]" class="btn btn-outline-primary btn-block">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>